Repository abhirukth/Hactoberfest-1, pull requests merged in 2022-10, with the labels that each got.

#4 answer added
  answercpp.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#8 2nd soln uploaded
  2nd/2nd.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 2nd

#9 3rd soln uploaded
  3rd/3rd.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 3rd

#13 solved 1st
  1st/1st.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#12 Solved 3rd Question
  3rd.java
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 3rd

#16 Revert "solved 2nd"
  2nd/2nd_vikas.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 2nd

#14 Create quicksort.cpp
  quicksort.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#17 solved 3rd
  3rd/3rd_vikas.cpp
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 3rd

#18 solved 4th
  4th/4th_vikas.py
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 4th

#19 1st soln
  1st/1st.js
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022

#20 2nd soln
  2nd/2nd.js
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 2nd

#21 3rd soln
  3rd/3rd.js
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 3rd

#22 4th soln
  4th/4th.js
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest2022, 4th
